.wrapper{
    display: flex;
    position: relative;
    max-width: 1280px;
    min-height: 880px;
    height: 100%;
    margin: 0 auto;
}
.wrapper::before{
    content: '';
    position: absolute;
    width: 1500px;
    height: 807px;
    left: calc(50% - 810px);
    background: url(/src/img/Union.png) no-repeat center/cover;
}
.wrapper::after{
    content: '';
    position: absolute;
    width: 413px;
    height: 413px;
    top: 800px;
    right: calc(50% - 873px);
    background: linear-gradient(#7F7FD5, #E786D7);
    border-radius: 50%;
}