@mixin navbar{
    position: absolute;
    width: 98px;
    height: 880px;
    left: 0px;
    top: 0px;
    background: #FDFDFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

@mixin position{
    display: flex;
    justify-content: center;
    text-align: center;
}

@mixin icons{
    width: 25px;
    height: 25px;
    color: #DFE6F1;
}

@mixin title {
    font-family: 'Gilroy Bold';
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
}

@mixin text{
    font-family: 'Gilroy Light';
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
}